html, body {
  margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#5A5A5A;
    font-size:9pt;
}


#sidebar {
    position: relative;
    height: 100%;
    width: 180px;
    background-color:#F3F3F3;
    border-right: 1px solid #A3A3A3;
    overflow: hidden;
    float:left;
    user-select: none;
}

.subHeadline {
    width: 100%;
    margin-left: 0;
    padding-left: 50px;
    padding-bottom: 5px;
}

#sidebar li.active {
    background-color:#4677D0;
    color: white;
}

li,ul {
    list-style-type: none;
}


ul {
    margin: 5px;
    padding-left: 20px;
}

i.material-icons {
    font-size: 15px;
    position: relative;
    top: 3px;
    left: -2px;
}

.headline {
    margin-left: 10px;
    margin-top:10px;
}

.data{
    position:relative;
    float:left;
}

#sidebar:after {
  content:"";
  width:3px;
  right: -1px;
  height: 100%;
  cursor: ew-resize;
  position:absolute;
    color:red;
    top:0px;
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:8pt;
    overflow: scroll;
}

th {
    background-color: #F3F3F3;
}

th {
    border-bottom: 1px solid #A3A3A3;
    border-left: 1px solid #A3A3A3;
    text-align: left;
    padding: 2px;
}
td {
    text-align: left;
    padding: 2px;
    border-left:1px solid #A3A3A3;
}

tr:nth-child(odd) {
    background-color: #eff5ff;
}

tr:last-child
{
    border-bottom: 1px solid #A3A3A3;
}

.refresh{
    position:relative;
    float:right;
    padding: 5px;
    cursor:pointer;
    background:black;
    color:white;
    text-align: center;
}

.reloadNotice {
    font-size: 25px;
    text-transform: uppercase;
    margin-top:50px;
    color:#A3A3A3;
    position:relative;
    float:left;
}

/* HTML5 Elements TAB & Legend */

.box {
    width: 100px;
    height:100px;
    float:left;
    position:relative;
    font-weight:bold;
}

.clear {
    clear:left;
}

.html5Element {
    margin:10px;
    border:1px dashed #A3A3A3;
    text-align:center;
    padding:10px;
    font-weight:bold;
}

.section {
    height:40%;
    position:absolute;
    width:60%;
    margin:0px;
}

.found {
    background-color:#5fcf80;
}

.notFound {
    background-color:#F3F3F3;
}

.legendBoxGreen {
    border:1px dashed #A3A3A3;
    width: 10px;
    height: 10px;
    background-color:#5fcf80;
    float: left;
    font-weight:normal;
}
.legendName {
    float: left;
    margin-left: 5px;
    padding-left: 5px;
}
.legendBoxGrey {
    width: 10px;
    height: 10px;
    background-color:#F3F3F3;
    float: left;
    border:1px dashed #A3A3A3;
}

.legendGrey {
    clear:left;
}


/*** Reload animation ***/

.loader {
    position: relative;
    width: 75px;
    height: 100px;
}
.loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #A3A3A3;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
    left: 0px;
    -webkit-transform: scale(1, 0.2);
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
    left: 15px;
    -webkit-transform: scale(1, 0.4);
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
    left: 30px;
    -webkit-transform: scale(1, 0.6);
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
    left: 45px;
    -webkit-transform: scale(1, 0.8);
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
    left: 60px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
}
.loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #A3A3A3;
    border-radius: 50%;
    -webkit-animation: ball 4s infinite;
    animation: ball 4s infinite;
}

@-webkit-keyframes ball {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    5% {
        -webkit-transform: translate(8px, -14px);
        transform: translate(8px, -14px);
    }
    10% {
        -webkit-transform: translate(15px, -10px);
        transform: translate(15px, -10px);
    }
    17% {
        -webkit-transform: translate(23px, -24px);
        transform: translate(23px, -24px);
    }
    20% {
        -webkit-transform: translate(30px, -20px);
        transform: translate(30px, -20px);
    }
    27% {
        -webkit-transform: translate(38px, -34px);
        transform: translate(38px, -34px);
    }
    30% {
        -webkit-transform: translate(45px, -30px);
        transform: translate(45px, -30px);
    }
    37% {
        -webkit-transform: translate(53px, -44px);
        transform: translate(53px, -44px);
    }
    40% {
        -webkit-transform: translate(60px, -40px);
        transform: translate(60px, -40px);
    }
    50% {
        -webkit-transform: translate(60px, 0);
        transform: translate(60px, 0);
    }
    57% {
        -webkit-transform: translate(53px, -14px);
        transform: translate(53px, -14px);
    }
    60% {
        -webkit-transform: translate(45px, -10px);
        transform: translate(45px, -10px);
    }
    67% {
        -webkit-transform: translate(37px, -24px);
        transform: translate(37px, -24px);
    }
    70% {
        -webkit-transform: translate(30px, -20px);
        transform: translate(30px, -20px);
    }
    77% {
        -webkit-transform: translate(22px, -34px);
        transform: translate(22px, -34px);
    }
    80% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }
    87% {
        -webkit-transform: translate(7px, -44px);
        transform: translate(7px, -44px);
    }
    90% {
        -webkit-transform: translate(0, -40px);
        transform: translate(0, -40px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes ball {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    5% {
        -webkit-transform: translate(8px, -14px);
        transform: translate(8px, -14px);
    }
    10% {
        -webkit-transform: translate(15px, -10px);
        transform: translate(15px, -10px);
    }
    17% {
        -webkit-transform: translate(23px, -24px);
        transform: translate(23px, -24px);
    }
    20% {
        -webkit-transform: translate(30px, -20px);
        transform: translate(30px, -20px);
    }
    27% {
        -webkit-transform: translate(38px, -34px);
        transform: translate(38px, -34px);
    }
    30% {
        -webkit-transform: translate(45px, -30px);
        transform: translate(45px, -30px);
    }
    37% {
        -webkit-transform: translate(53px, -44px);
        transform: translate(53px, -44px);
    }
    40% {
        -webkit-transform: translate(60px, -40px);
        transform: translate(60px, -40px);
    }
    50% {
        -webkit-transform: translate(60px, 0);
        transform: translate(60px, 0);
    }
    57% {
        -webkit-transform: translate(53px, -14px);
        transform: translate(53px, -14px);
    }
    60% {
        -webkit-transform: translate(45px, -10px);
        transform: translate(45px, -10px);
    }
    67% {
        -webkit-transform: translate(37px, -24px);
        transform: translate(37px, -24px);
    }
    70% {
        -webkit-transform: translate(30px, -20px);
        transform: translate(30px, -20px);
    }
    77% {
        -webkit-transform: translate(22px, -34px);
        transform: translate(22px, -34px);
    }
    80% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }
    87% {
        -webkit-transform: translate(7px, -44px);
        transform: translate(7px, -44px);
    }
    90% {
        -webkit-transform: translate(0, -40px);
        transform: translate(0, -40px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
@-webkit-keyframes barUp1 {
    0% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    40% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    90% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
}
@keyframes barUp1 {
    0% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    40% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    90% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
}
@-webkit-keyframes barUp2 {
    0% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    40% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    50% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    90% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    100% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
}
@keyframes barUp2 {
    0% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    40% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    50% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    90% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    100% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
}
@-webkit-keyframes barUp3 {
    0% {
        -webkit-transform: scale(1, 0.6);
        transform: scale(1, 0.6);
    }
    100% {
        -webkit-transform: scale(1, 0.6);
        transform: scale(1, 0.6);
    }
}
@keyframes barUp3 {
    0% {
        -webkit-transform: scale(1, 0.6);
        transform: scale(1, 0.6);
    }
    100% {
        -webkit-transform: scale(1, 0.6);
        transform: scale(1, 0.6);
    }
}
@-webkit-keyframes barUp4 {
    0% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    40% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    50% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    90% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    100% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
}
@keyframes barUp4 {
    0% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    40% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
    50% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    90% {
        -webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
    }
    100% {
        -webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
    }
}
@-webkit-keyframes barUp5 {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    90% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes barUp5 {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    90% {
        -webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}









